// Contextual colors
.text_white {
    color: $white !important;
}

@each $color,
$value in $theme-colors {
    @include text-emphasis-variant(".text_#{$color}", $value);
}

.text_body {
    color: $body-color !important;
}

.text_muted {
    color: $text-muted !important;
}

.text_black_50 {
    color: rgba($black, .5) !important;
}

.text_white_50 {
    color: rgba($white, .5) !important;
}

//Background-color
// stylelint-disable declaration-no-important
@each $color,
$value in $theme-colors {
    @include bg-variant(".bg_#{$color}", $value);
}

@if $enable-gradients {
    @each $color,
    $value in $theme-colors {
        @include bg-gradient-variant(".bg-gradient_#{$color}", $value);
    }
}

.bg-white {
    background-color: $white !important;
}

.bg-transparent {
    background-color: transparent !important;
}