.sidebar {
    border-right: 1px solid rgba(0, 0, 0, .1);
    height: calc(100vh - 4rem);
    top: 4em;
    .menu--search {
        position: relative;
        padding: 15px;
        margin-right: -15px;
        margin-left: -15px;
        border-bottom: 1px solid rgba(0, 0, 0, .05);
        input {
            width: 100%;
            height: calc(2.25rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            outline: none;
            &:focus {
                border-color: $primary-color;
                box-shadow: 0 0 0 3px rgba($color: $primary-color, $alpha: .25);
            }
        }
    }
}

.nav {
    max-height: calc(100vh - 9rem);
    overflow-y: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: -15px;
    margin-left: -15px;
    .nav--list {
        padding-left: 0;
        .nav--link {
            display: block;
            padding: .25rem 1.5rem;
            font-weight: 600;
            color: rgba(0, 0, 0, .65);
            text-decoration: none;
            transition: all 0.5s ease;
            &.sub {
                font-size: 90%;
                font-weight: 400;
                &.active {
                    font-weight: 600;
                }
            }
            &:hover,
            &.active {
                color: rgba(0, 0, 0, .85);
            }
        }
    }
    .nav--list-item {
        margin-bottom: 15px;
    }
    .list--sub {
        padding-left: 15px;
    }
}

.section {
    padding-left: 30px;
    margin-bottom: 50px;
    .section--title {
        margin: 15px 0 10px 0;
        font-weight: 300;
        font-size: 3em;
    }
    .section--desc {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 300;
    }
    .section--content {
        .section--title-sub {
            font-weight: 500;
            margin-top: 35px;
        }
        .section--title-child,
        .section--title-part {
            margin-top: 25px;
        }
    }
    p {
        margin: 1em 0;
    }
    .box {
        position: relative;
        border: .2rem solid #F0F0F0;
        &.box--example {
            padding: 1rem;
            margin-top: 15px;
            &::after {
                display: block;
                clear: both;
                content: "";
            }
        }
        &.box--code {
            border-top: 0;
        }
        pre {
            margin: -1px;
        }
        code {}
    }
}


.no_border {
    border: 0!important;
}
