.class-name {
    font-size: 87.5%;
    color: $tertiary-color;
    word-break: break-word;
}

.note--document {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    &.border-warning {
        border-left-color: #f0ad4e;
    }
    &.border-info {
        border-left-color: #5bc0de;
        .note--document-title {
            font-size: 1.5em;
            color: #5bc0de;
        }
    }
    .note--document-detail {
        margin-bottom: 0;
    }
}

.table--document {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;

    th, td {
        padding: .75rem;
        vertical-align: top;
        border: 1px solid #dee2e6;
    }
}

.bd_highlight {
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.15);
}