.class-name {
    font-size: 87.5%;
    color: $tertiary-color;
    word-break: break-word;
}

.note--document {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    .note--document-title {
            font-size: 1.5em;
        }
    &.border-warning {
        border-left-color: #f0ad4e;
        .note--document-title {
            color: #f0ad4e;
        }
    }
    &.border-info {
        border-left-color: #5bc0de;
        .note--document-title {
            color: #5bc0de;
        }
    }
    &.border-error {
        border-left-color: #d9534f;
        .note--document-title {
            color: #d9534f;
        }
    }
    .note--document-detail {
        margin: 0;
    }
}

.table--document {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;

    th, td {
        padding: .75rem;
        vertical-align: top;
        border: 1px solid #dee2e6;
    }
}

.bd_highlight {
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.15);
}

.box--example {
    .r {
        .c,
        [class^=c_] {
            padding-top: .75rem;
            padding-bottom: .75rem;
            background-color: rgba(86,61,124,.15);
            border: 1px solid rgba(86,61,124,.2);
        }
        +.r {
                margin-top: 1rem;
        }
    }
}


