@import "alert";
<<<<<<< HEAD
@import "breadcrumb";
@import "pagination";
=======
@import "label";
@import "button";
@import "card";
@import "form";
@import "others/colors";
@import "others/display";
@import "others/flex";
>>>>>>> dev-chinhht
