// Base class
//
// Requires one of the contextual, color modifier classes for `color` and
// `background-color`.
.label {
    display: inline-block;
    padding: $label-padding-y $label-padding-x;
    font-size: $label-font-size;
    font-weight: $label-font-weight;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    @include border-radius($label-border-radius);
    @at-root a#{&} {
        @include hover-focus {
            text-decoration: none;
        }
    }
    // Empty labels collapse automatically
    &:empty {
        display: none;
    }
}

// Quick fix for labels in buttons
.btn .label {
    position: relative;
    top: -1px;
}

// Pill labels
//
// Make them extra rounded with a modifier to replace v3's labels.
.label-pill {
    padding-right: $label-pill-padding-x;
    padding-left: $label-pill-padding-x;
    @include border-radius($label-pill-border-radius);
}

// Colors
//
// Contextual variations (linked labels get darker on :hover).
@each $color,
$value in $theme-colors {
    .label-#{$color} {
        @include label-variant($value);
    }
}