
// Base class

.tooltip {
    
    position: absolute;
    z-index: $zindex-tooltip;
    display: none;
    margin: $tooltip-margin;
    // Our parent element can be arbitrary since tooltips are by default inserted as a sibling of their target element.
    // So reset our font and text properties to avoid inheriting weird values.
    @include reset-text();
    font-size: $tooltip-font-size;
    // Allow breaking very long words so they don't overflow the tooltip's bounds
    word-wrap: break-word;
    opacity: 0;
    &.show {
        transition: all 0.5s ease;
        opacity: $tooltip-opacity;

    }
    .arrow {
        position: absolute;
        display: block;
        width: $tooltip-arrow-width;
        height: $tooltip-arrow-height;
        &::before {
            position: absolute;
            content: "";
            border-color: transparent;
            border-style: solid;
        }
    }
}

.rbox_tooltip_top {
    padding: $tooltip-arrow-height 0;
    .arrow {
        bottom: 0;
       
        &::before {
            top: 0;
           
            border-width: $tooltip-arrow-height ($tooltip-arrow-width / 2) 0;
            border-top-color: $tooltip-arrow-color;
        }
    }
}

.rbox_tooltip_right {
    padding: 0 $tooltip-arrow-height;
    width:100% !important;
    .arrow {
        top:25%;
        left: 0;
        width: $tooltip-arrow-height;
        height: $tooltip-arrow-width;
        &::before {
            right: 0;
            border-width: ($tooltip-arrow-width / 2) $tooltip-arrow-height ($tooltip-arrow-width / 2) 0;
            border-right-color: $tooltip-arrow-color;
        }
    }
}

.rbox_tooltip_bottom {
    padding: $tooltip-arrow-height 0;
    .arrow {
        top: 0;
        left:45%;
        &::before {
            bottom: 0;
            border-width: 0 ($tooltip-arrow-width / 2) $tooltip-arrow-height;
            border-bottom-color: $tooltip-arrow-color;
        }
    }
}

.rbox_tooltip_left {
    padding: 0 $tooltip-arrow-height;
    .arrow {
        top:25%;
        right: 0;
        width: $tooltip-arrow-height;
        height: $tooltip-arrow-width;
        &::before {
            left: 0;
            border-width: ($tooltip-arrow-width / 2) 0 ($tooltip-arrow-width / 2) $tooltip-arrow-height;
            border-left-color: $tooltip-arrow-color;
        }
    }
}

.rbox_tooltip_auto {
    &[x-placement^="top"] {
        @extend .rbox_tooltip_top;
    }
    &[x-placement^="right"] {
        @extend .rbox_tooltip_right;
    }
    &[x-placement^="bottom"] {
        @extend .rbox_tooltip_bottom;
    }
    &[x-placement^="left"] {
        @extend .rbox_tooltip_left;
    }
}

// Wrapper for the tooltip content
.tooltip_inner {
    max-width: $tooltip-max-width;
    padding: $tooltip-padding-y $tooltip-padding-x;
    color: $tooltip-color;
    text-align: center;
    background-color: $tooltip-bg;
    @include border-radius($tooltip-border-radius);
}